
.main{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

.addMember{
    background-color:#2C8ED2 ;
    color: #fff;
    padding: 5px;
    margin: 5px;
    border-radius:4px;
    font-weight: bold;
    cursor: pointer;
}